<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alimy.sbmb.dao.OrdertabMapper">
  <resultMap id="BaseResultMap" type="com.alimy.sbmb.entity.Ordertab">
    <id column="ORDER_ID" jdbcType="VARCHAR" property="orderId" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="NUM" jdbcType="DECIMAL" property="num" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ORDER_ID, USER_ID, NUM, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ORDERTAB
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ORDERTAB
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.alimy.sbmb.entity.Ordertab">
    insert into ORDERTAB (ORDER_ID, USER_ID, NUM, 
      CREATE_TIME)
    values (#{orderId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{num,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.alimy.sbmb.entity.Ordertab">
    insert into ORDERTAB
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        ORDER_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="num != null">
        NUM,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.alimy.sbmb.entity.Ordertab">
    update ORDERTAB
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        NUM = #{num,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alimy.sbmb.entity.Ordertab">
    update ORDERTAB
    set USER_ID = #{userId,jdbcType=VARCHAR},
      NUM = #{num,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>